<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class=login-page>

	<div class=row>
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
			<h1 align="center">
				<small>Azury</small>
			</h1>
			<form name="dados" role=form ng-submit="login()">
				<div class=form-content>
					<div class="form-group has-feedback"
						ng-class="{ 'has-error': dados.username.$invalid && dados.username.$dirty }">
						<label for="username">Usuário:</label> <input type="text"
							required="required" ng-model="username"
							class="form-control validate input-underline input-lg"
							placeholder="Nome de Usuario"> <span
							class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{ 'has-error': dados.password.$invalid && dados.username.$dirty }">
						<label for="username">Senha:</label> <input type="password"
							required="required" ng-model="password"
							class="form-control validate input-underline input-lg"
							placeholder="Senha"> <span
							class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
				</div>
				<div align="center">
					<button type="submit"
						class="btn btn-primary btn-outline btn-lg btn-rounded">Acessar</button>
					<button ui-sref="register"
						class="btn btn-success btn-outline btn-lg btn-rounded">Cadastre-se</button>
				</div>
			</form>
		</div>
	</div>
	<br /> <br /> <br />
	<hr class="featurette-divider" />
	<footer align="center"> </footer>
</div>
</body>
